@font-face {
    font-family: 'Pokemon';
    src: url('./assets/Pokemon\ Hollow.ttf');
  }

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    background: lightseagreen;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    flex-direction: column;
}

main {
    display: flex;
    flex-direction: column;
}

h1 {
    font-family: 'Pokemon', sans-serif;
    margin: 2vw;
    padding-bottom: 1.8vh;
    text-align: center;
    color: darkslateblue;
    letter-spacing: 0.5vw;
    border-radius: 15px;
    background: gold;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.search {
    margin: 5vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.search-bar {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.drop-down {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 0.5vw;
    width: 17.5vw;
}

#pokemonTypeSelect, #pokemonGenerationSelect {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.2rem;
    padding: 0.8vh 0.5vw;
    border-color: rgb(110, 238, 232);
    border-radius: 5px;
    margin-right: 2vw;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

#searchInput {
    width: 70vw;
    height: 7vh;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.2rem;
    padding: 0.4rem 1.8rem;
    border-radius: 7px;
    border: none;
}


#liste {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 3vh;
}

.pokemon-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    border: 1px solid rgb(110, 238, 232);
    border-radius: 15px;
    background: rgb(194, 250, 247);
    padding: 20px;
    margin: 1vw;
    width: 190px;
    height: 35vh;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}

.pokemon-item img {
    width: 96px;
    height: 96px;
}

#result {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.5s linear;
    height: 0;
    }

#result.visible {
    visibility: visible;
    opacity: 1;
    height: auto;
    margin-top: 5vh;
    padding: 5vh 5vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid rgb(110, 238, 232);
    border-radius: 15px;
    background: rgb(194, 250, 247);
    box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}

#pagination button {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.1rem;
    padding: 10px 15px;
    margin: 3vh 1vw;
    background-color: gold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#pagination button:hover {
    background-color: goldenrod;
}

@media screen and (max-width: 905px) {

    .search-bar {
        flex-direction: column;
    }

    .drop-down {
        width: auto;
    }

    #pokemonTypeSelect, #pokemonGenerationSelect {
        width: 140px;
    }

    #searchInput {
        width: 60vw;
        margin-top: 1vh;
    }
}

@media screen and (max-width: 420px) {
    #pokemonTypeSelect, #pokemonGenerationSelect {
        font-size: 1rem;
    }

    #searchInput {
        width: 50vw;
        padding: 10px;
        font-size: 1rem;
    }
}